body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    
}

.jumbotron {
    background-color: navajowhite;
}

.display-4 {
    font-weight: bold;
    color: rebeccapurple;
    text-align: center; 
}

.lead {
    font-weight: bolder;
    font-size: 25px;
    color: royalblue;
    text-align: center;
}

.instructions {
    background-color: rgb(138, 112, 145);
    padding: 15px; 
    border: 5px dotted aquamarine;
    margin: 5px;
    width: 40%; 
   
}

.dir {
    text-decoration: underline;
    color: greenyellow;
    font-weight: bold;
}

li {
    color: greenyellow;
}

.match {
    Background-color: rgb(19, 145, 124);
    color: rgb(134, 37, 91);
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    padding: 5px;
    border: 5px double rgb(216, 155, 216);
    margin: 15px; 
    width: 15%; 
    height: 150px; 
    float: left; 
}

.wins-losses {
    background-color: coral;
    text-decoration: underline;
    font-weight: bold;
    font-size: 22px;
    color: rgb(153, 0, 255);
    padding: 5px; 
    border: 5px double navy;
    position: block;
    height: 150px; 
    width: 15%;
    float: left; 
}

.crystals {
    clear: both;
    padding: 10px;
}

.userScore {
    background-color: rgb(138, 112, 145);
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    color: goldenrod;
    padding: 15px; 
    border: 5px dotted aquamarine;
    margin: 5px;
    width: 15%;
    height: 150px;
}